StartWorkflow.json
{
  "name": "Joke to Google Sheets",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    question: \"Why don’t skeletons fight each other?\",\n    answer: \"Because they don’t have the guts!\"\n  }\n}];"
      },
      "id": "2",
      "name": "Generate Joke",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID",
        "range": "Sheet1!A:B",
        "options": {},
        "valueInputMode": "RAW",
        "values": [
          [
            "={{ $json[\"question\"] }}",
            "={{ $json[\"answer\"] }}"
          ]
        ]
      },
      "id": "3",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [750, 300],
      "credentials": {
        "googleApi": "YOUR_GOOGLE_CREDENTIAL_NAME"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Generate Joke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Joke": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
